<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleCreat.css">
    <title>Creaton</title>
</head>
<body>

    <div class="topnav">
        <a href="index.html">Selection</a>
        <a href="inventaire.html">Inventaire</a>
        <a href="creation.html">Creation</a>
    </div>

    <h1>Working...</h1> 

    <div id="bottom">
        <a v-bind:href="link" v-bind:title="message" :style="style()">{{message}}</a>
        <!-- <ul>
            <li v-for="person in persons">{{person}}</li>
        </ul> -->
        <input type="text" v-model="message"> 
        <!-- -- v-model : variable affecté au champ -->
        <input type="checkbox" v-model="cls" :true-value="'success'" :false-value="'error'"> 
        <div class="condition">
            <i class="close-icon" :class="cls" @click="close">.</i>
            <p @click="close">{{message}}</p>
        </div>
        <!-- <div class="condition" v-else="success">
            <p>Gros looseur</p>
        </div> -->
        <button @click="addPerson">Ajouter une personne</button>
        {{persons}}
    </div> 


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="main.js"></script>

</body>
</html>