@media screen and (max-width: 925px) {
    :root {
    --primary: rgb(58, 58, 58);
    --secondary: #808080;
    --tertiary: rgb(211, 211, 211);
    
    --colortest: rgb(0, 128, 0);

    --primary-blue: rgba(39, 24, 126, 1);
    --secondary-blue: rgba(117, 139, 253, 1);
    --tertiary-blue: rgba(174, 184, 254, 1);
    --theme-orange: rgba(255, 134, 0, 1);
    --theme-white: rgb(241, 242, 246);
    }

    nav{
        /* visibility: hidden;
        height: 1px; */
        display: flex;
        align-items: flex-start;
        width: 100%;
        position: relative;
        justify-content: left;
        background-color: rgba(229, 213, 205, 0);
        height: 11vw;
        z-index: 0;
    }

    div.plus {
        z-index: 3;
        width: 9vw;
        height: 9vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2%;
        transition: all 0.3s ease;
        border-radius: 20px;
        opacity: 90%;
    }
    
    div.plus:hover {
        background-color: var(--primary-blue);
    }

    div.barre {
        background-color: var(--theme-white);
        border-radius: 20px;
    }

    div.vertical {
        z-index: 1;
        width: 12%;
        height: 80%;
        position: absolute;
    }

    div.horizontal {
        z-index: 2;
        width: 80%;
        height: 12%;
        position: absolute;
    }

    span.fi-rr-plus {
        width: 30px;
        height: auto;
    }

    ul.TopNavbar {
        visibility: hidden;
        height: 1px;
        width: 1px;
    }

    li.navbar {
        visibility: hidden;
    }

    div.title-content {
        visibility: visible;
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: left;
        margin-top: 8%;
        margin-bottom: 5%;
    }

    div.title-content > h3 {
        font-size: 12vw;
        margin: 0;
        font-family: 'Dancing Script', sans-serif;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: var(--theme-white);
        margin-left: 5%;
    }

    div.content-big {
        z-index: 3;
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 8vh;
        border-radius: 30px 30px 0px 0px;
        margin: 0;
        transition: all 0.3s ease;
    }

    div.content {
        z-index: 3;
        position: fixed;
        top: 0px;
        width: 100%;
        height: 100%;
        border-radius: 30px 30px 0px 0px;
        margin: 0;
        transition: all 0.3s ease;
    }

    div.content:hover {
        /* background-color: var(--secondary-blue); */
        box-shadow: 0px -10px 15px rgba(117, 139, 253, 0.5);
    }

    div.content:active {
        background-color: var(--secondary-blue);
        box-shadow: 0px -10px 15px rgba(117, 139, 253, 0.5);
    }

    div.straight {
        visibility: visible;
        width: 25%;
        height: 4px;
        border-radius: 20px;
        background-color: var(--theme-white);
        z-index: 4;
        margin-top: 5px;
    }

    button.next {
        visibility: hidden;
    }

    ul.next{
        width: 90%;
        height: 40px;
        top: 6%;
    }

    li.nav_criteres {
        transition: all 0.5s ease;
        text-decoration: none;
        /* padding: 0.2em 0.5em; */
        padding: 10px 3vw 10px 3vw;
        border-radius: 25px;
    }

    li.nav_criteres>a {
        text-decoration: none;
        color: var(--theme-white);
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 4vw;
    }

    div.choice {
        display: flex;
        position: absolute;
        top: 14%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 90%;
        width: auto;
        height: 80%;
        overflow-y: scroll;
    }

    button.choice-button {
        width: 30vw;
        height: 30vw;
        border-radius: 15px;
        border: none;
        transition: all 0.5s ease;
        margin: 1.5%;
        display: none;
        align-items: center;
    }

    button.choice-button>img {
        width: auto;
        height: 45%;
    }

    button.choice-button>h3 {
        color: var(--theme-white);
        font-size: 3vw;
    }

    div.layer { 
        display: flex;
        justify-content: center; 
        align-items: center;
        /* Optional, if you want the DIVs 100% width: */ 
        flex-direction: column;
        margin-top: 0;
        position: relative;
        top: 0;
    }
    div.layer > #content { order: 3; }
    div.layer > #result { order: 2; }
    div.layer > #title { order: 1; }


    div.result {
        margin: 0;
        padding-bottom: 10vh;
        padding-top: 2vh;
        column-gap: 5px;
    }

    div.wine-card {
        /* max-width: 313px;
        max-height: 336px; */
        /* width: 30vw;
        height: 33.5vw; */
        width: 40vw;
        height: 43.5vw;
        margin: 2%;
        margin-top: 17%;
        /* border-radius: 12.6%; */
        border-radius: 4vw;
    }

    div.wine-card_big {
        background-color: var(--theme-white);
        width: 100%;
        height: 100%;
        border-radius: 40px;
        display: flex;
        position: fixed !important;
        bottom: 0;
        justify-content: center;
        margin: 0;
        z-index: 50;
        transition: all 0.5s ease-out;
        margin: 0;
        /* backdrop-filter: none!important; */
        /* voir pour une meilleure transition */
    }
    
    div.top-card {
        width: 100%;
    }

    div.top-card_big {
        width: 100%;
        position: absolute;
        top: 0;
        height: 73%;
        display: flex;
        position: relative;
        justify-content: center;
    }
    
    /* div.result {
        width: 100%;
    } */

    img.close {
        display: block;
        position: absolute;
        top: 5vw;
        right: 5vw;
        width: 5vw;
        height: auto;
    }

    .hide {
        display: none!important;
    }
    
    
    img.main-bouteille {
        width: 100%;
        height: auto;
        bottom: 12%;
    }

    img.main-bouteille_big {
        width: auto;
        height: 50%;
        position: absolute;
        bottom: 15px;
    }
    
    img.star {
        position: absolute;
        width: auto;
        height: 12%;
        left: 6.7%;
        top: 6.7%;
    }

    img.star_big {
        width: auto;
        position: absolute;
        width: 50px;
        height: 50px;
        left: 30px;
        top: 20px;
    }

    img.bouteille {
        position: absolute;
        width: auto;
        height: 16%;
        left: 10%;
        top: 20%;
    }

    img.bouteille_big {
        position: absolute;
        width: auto;
        height: 60px;
        left: 47px;
        top: 80px;
    }

    h6.note {
        position: absolute;
        top: 8%;
        left: 18.3%;
        font-size: 2.8vw;
        margin: 0;
        padding: 0;
    }

    h6.note_big {
        position: absolute;
        top: 27px;
        left: 90px;
        margin: 0;
        padding: 0px;
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 33px;
    }

    h6.nombre {
        position: absolute;
        top: 24%;
        left: 18.3%;
        font-size: 2.8vw;
        margin: 0;
        padding: 0;
    }

    h6.nombre_big {
        position: absolute;
        top: 90px;
        left: 93px;
        margin: 0;
        padding: 0px;
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 33px;
    }

    h5.domaine {
        position: absolute;
        bottom: 3%;
        left: 1.65vw;
        margin: 0;
        padding: 0%;
        font-size: 2.3vw;
        /* line-height: 24px; */
        letter-spacing: -0.05em;
    }

    h5.domaine_big {
        position: absolute;
        top: 170px;
        left: 20px;
        margin: 0;
        padding: 0;
        font-size: 22px;
        font-family: 'Montserrat';
        font-style: normal;
        color: var(--primary-blue);
        /* line-height: 24px; */
        letter-spacing: -0.05em;
    }

    h3.millesime {
        top: 35%;
        right: -33%;
        margin: 0;
        letter-spacing: 0.2em;
        font-size: 14vw;
        line-height: 14vw;
    }

    div.millesime_choice {
        width: 40%;
        height: 365px;
        position: absolute;
        top: 185px;
        left: 20px;
        /* background-color: var(--color); */
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        z-index: 2;
    }

    button.dropbtn {
        border-radius: 15px;
        width: 150px;
        height: 35px;
        border: none;
        transition: all 0.3s ease;
        background-color: var(--secondary-blue);
        color: var(--theme-white);
        box-shadow: 1px 5px 15px rgba(117, 139, 253, 0.5);
        list-style-type: none;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
    }
    
    button.dropbtn:hover {
        cursor: pointer;
    }
    
    div.drop-content {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        flex-wrap: wrap;
        position: absolute;
        top: 50px;
        z-index: 5;
    }
    
    .drop-hide {
        display: none !important;
    }
    
    .ulmill {
        list-style-type: none;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 0;
        background-color: var(--theme-white);
        z-index: 5;
    }
    
    .mill {
        transition: all 0.5s ease;
        width: 90px;
        height: 40px;
        margin: 3px;
        padding: 0;
        text-decoration: none;
        /* padding: 0.2em 0.5em; */
        border-radius: 15px;
        color: var(--primary-blue);
        background-color: var(--secondary-blue);
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2em;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 6;
    }
    
    .mill:hover {
        background-color: var(--theme-orange);
        color: white;
        cursor: pointer;
    }
    
    .active-mill {
        background-color: var(--theme-orange) !important;
    }
    
    .mill>a {
        text-decoration: none;
        text-align: center;
        color: var(--theme-white);
        padding: 8px 20px 8px 20px;
    }
    
    
    div.vol-content {
        margin: 0;
        padding: 0;
        width: 40%;
        height: 45px;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        flex-wrap: wrap;
        position: absolute;
        top: 250px;
        left: 20px;
        z-index: 10;
    }
    
    .vol-hide {
        display: none !important;
    }
    
    .ulvol {
        list-style-type: none;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        z-index: 1;
    }
    
    .vol {
        transition: all 0.5s ease;
        width: 90px;
        height: 40px;
        margin: 3px;
        padding: 0;
        text-decoration: none;
        /* padding: 0.2em 0.5em; */
        border-radius: 15px;
        color: var(--primary-blue);
        background-color: var(--secondary-blue);
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2em;
        list-style: none;
        align-items: center;
        justify-content: center;
        display: none;
    }
    
    .vol:hover {
        background-color: var(--theme-orange);
        color: white;
        cursor: pointer;
    }
    
    .active-vol {
        background-color: var(--theme-orange) !important;
    }
    
    .show-vol {
        display: flex;
    }
    
    .vol>a {
        text-decoration: none;
        text-align: center;
        color: var(--theme-white);
        padding: 8px 20px 8px 20px;
    }
    
    .info-active {
        display: block !important;
    }
    
    .infos_mill {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 220px;
        height: 220px;
    }

    div.appellation {
        width: 90%;
        position: absolute;
        left: 1.65vw;
        height: 50%;
        top: 0;
    }
    
    h3.appellation {
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0;
        /* font-size: 3.5vw; */
        font-size: 2.5vh;
    }

    div.cepage {
        position: absolute;
        bottom: 0;
        left: 1.65vw;
        height: 50%;
        width: 90%;
    }

    div.cepage > h5 {
        font-size: 2.7vw;
        margin: 0;
    }

    h3.appellation-big {
        position: absolute;
        top: 200px;
        left: 20px;
        margin: 0;
        padding: 0;
        font-size: 30px;
        font-family: 'Montserrat';
        font-style: normal;
        color: var(--primary-blue);
    }
    
    h5.cepage-big {
        position: absolute;
        top: 235px;
        left: 20px;
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-family: 'Montserrat';
        font-style: normal;
        color: var(--primary-blue);
    }
    
    div.infos {
        display: flex;
        position: absolute;
        left: 20px;
        bottom: 10px;
        /* align-items: center; */
        /* justify-content: center; */
        flex-wrap: wrap;
        max-width: 90%;
        width: 340px;
        height: 220px;
        z-index: 0;
    }
    
    div.info {
        width: 100px;
        height: 100px;
        border-radius: 15px;
        border: none;
        transition: all 0.5s ease;
        margin: 5px;
        display: flex;
        justify-content: center;
        background-color: var(--secondary-blue);
        align-items: center;
        flex-wrap: wrap;
        z-index: 1;
    }
    
    div.info>img {
        width: auto;
        height: 50%;
    }
    
    div.info>h3 {
        color: var(--theme-white);
        text-align: center;
        margin: 4px;
        font-family: 'Montserrat';
        font-style: bold;
        font-size: 15px;
    }

    div.container {
        display: none!important;
    }

    div.bottom-card {
        width: 100%;
        border-radius: 0px 0px 4vw 4vw;
    }

    div.bottom-card_big {
        width: 100%;
        position: absolute;
        display: flex;
        bottom: 0;
        height: 27%;
        background: #F7F9F7;
        border-radius: 0px 0px 40px 40px;
        align-items: center;
    }
    
    h5.domaine_bottom {
        position: absolute;
        left: 20px;
        top: 80px;
        margin: 0;
        padding: 0;
        font-size: 30px;
        font-family: 'Montserrat';
        font-style: normal;
        color: var(--primary-blue);
        /* line-height: 24px; */
        letter-spacing: -0.05em;
    }

    h3.appellation {
        position: absolute;
        padding-bottom: 3.2vh;
        padding: 0;
        font-size: 35px;
        top: 5%;
        left: 1.65vw;
        font-size: 4vw;
    }

    .long_appellation {
        font-size: 3.4vw !important;
    }

    .appellation_resp {
        padding-top: 0 !important;
    }

    h5.cepage {
        position: absolute;
        bottom: 20%;
        font-size: 2.7vw;
        margin: 0;
        left: 1.65vw;
        padding: 0;
    }

    div.take-button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    button.main-button {
        width: 250px;
        height: 125px;
        border-radius: 15px;
        border: none;
        transition: all 0.5s ease;
        margin: 0;
        align-items: center;
        position: absolute;
        right: 30px;
        background-color: var(--primary-blue);
        opacity: 95%;
    }
    
    button.main-button:hover {
        box-shadow: 1px 5px 15px rgba(117, 139, 253, 0.7);
        background-color: var(--secondary-blue);
        cursor: pointer;
    }
    
    button.main-button>h1 {
        font-size: 15px;
        color: var(--theme-white);
        font-family: 'Montserrat';
        font-style: bold;
    }
    
    input.nb-input {
        background-color: var(--tertiary-blue);
        /* border-style: none; */
        border-radius: 15px;
        border-color: var(--primary-blue);
        width: 100px;
        height: 100px;
        font-size: 60px;
        text-align: center;
    }
}