@media screen and (max-width: 1000px) {
    nav{
        visibility: hidden;
        height: 1px;
    }

    ul.TopNavbar {
        visibility: hidden;
        height: 1px;
    }

    li.navbar {
        visibility: hidden;
    }

    div.content {
        z-index: 3;
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 8vh;
        border-radius: 30px 30px 0px 0px;
        margin: 0;
        transition: all 0.3s ease;
    }

    div.content:hover {
        background-color: var(--secondary-blue);
        box-shadow: 0px -10px 15px rgba(117, 139, 253, 0.5);
    }

    div.content:active {
        background-color: var(--secondary-blue);
        box-shadow: 0px -10px 15px rgba(117, 139, 253, 0.5);
    }

    button.next {
        visibility: hidden;
    }

    div.choice {
        visibility: hidden;
    }

    div.layer { 
        display: flex;
        justify-content: center; 
        align-items: center;
        /* Optional, if you want the DIVs 100% width: */ 
        flex-direction: column;
    }
    div.layer > #content { order: 2; }
    div.layer > #result { order: 1; }

    div.wine-card {
        /* max-width: 313px;
        max-height: 336px; */
        /* width: 30vw;
        height: 33.5vw; */
        width: 40vw;
        height: 43.5vw;
        margin: 2%;
        margin-top: 10%;
        /* border-radius: 12.6%; */
        border-radius: 4vw;
    }

    /* div.result {
        width: 100%;
    } */

    div.bottom-card {
        width: 100%;
        border-radius: 0px 0px 4vw 4vw;
    }

    div.bottom-card > h3 {
        position: absolute;
        /* padding-bottom: 3.2vh; */
        padding: 0;
        /* font-size: 35px; */
        font-size: 3.7vw;
        top: 5%;
        left: 1.65vw;
    }

    div.bottom-card > h5 {
        position: absolute;
        bottom: 20%;
        font-size: 2.7vw;
        margin: 0;
        left: 1.65vw;
        padding: 0;
    }

    div.top-card {
        width: 100%;
    }

    div.top-card > img{
        width: 45%;
        height: auto;
        bottom: 10%;
    }

    div.top-card > h5{
        position: absolute;
        bottom: 3%;
        left: 1.65vw;
        margin: 0;
        padding: 0%;
        font-size: 2.3vw;
        /* line-height: 24px; */
        letter-spacing: -0.05em; 
    }

    div.top-card > h3{
        top: 35%;
        right: -33%;
        margin: 0;
        letter-spacing: 0.2em;
        font-size: 14vw;
        line-height: 14vw;
    }

    img#star {
        position: absolute;
        width: auto;
        height: 12%;
        left: 6.7%;
        top: 6.7%;
    }


    img#bouteille {
        position: absolute;
        width: auto;
        height: 16%;
        left: 10%;
        top: 20%;
    }

    h6.note {
        position: absolute;
        top: 8%;
        left: 18.3%;
        font-size: 2.8vw;
        margin: 0;
        padding: 0;
    }

    h6.nombre {
        position: absolute;
        top: 24%;
        left: 18.3%;
        font-size: 2.8vw;
        margin: 0;
        padding: 0;
    }
}