/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Dancing+Script:wght@600;700&family=Montserrat:wght@400;500;600&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

* {
  box-sizing: border-box;
}

:root {
  --primary: rgb(58, 58, 58);
  --secondary: #808080;
  --tertiary: rgb(211, 211, 211);
  
  --colortest: rgb(0, 128, 0);

  --primary-blue: rgba(39, 24, 126, 1);
  --secondary-blue: rgba(117, 139, 253, 1);
  --tertiary-blue: rgba(174, 184, 254, 1);
  --theme-orange: rgba(255, 134, 0, 1);
  --theme-white: rgb(241, 242, 246);
}

html {
  scroll-behavior: smooth;
}

body{
  background-image: url("img/background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0; 
  overflow-x: hidden;
}


.navbar:hover{
  background-color: var(--theme-orange);
  color: white;
}


nav {
  background-color: rgba(229, 213, 205, 0.90);
}

div.toTop {
  position: absolute; 
  top: 0;
  height: 1px;
  width: 100%;
}
/* Les boites*/

.main {
  background: var(--tertiary);
}

.footer {
  background: var(--colortest);
}

.header input{
  width: 100%;
  height: auto;
}


/* .navbar > a:active{
  color: black;
} */

/*.TopNavbar {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 15%;
  flex-direction: row;
  list-style-type: none;
  position: relative;
  background: green;
}
*/
.navbar {
  transition: all 0.5s ease;
  text-decoration: none;
  /* padding: 0.2em 0.5em; */
  padding: 13px;
  border-radius: 25px;
}

.navbar > a{
  text-decoration: none;
  color: var(--theme-white);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

ul.TopNavbar {
  list-style-type: none;
  width: 347px;
  height: 49px;
  display: flex;
  border-radius: 25px;
  background-color: var(--primary-blue);
  flex-direction: row;
  justify-content: center;
  padding: 0%;
  align-items: center;
  visibility: visible;
}

nav {
  width: 100%;
  /* background-color: var(--color); */
  justify-content: center;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
}

.bloc{
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

div.content {
  display: flex;
  width: 76vw;
  height: 35em;
  background-color: rgba(39, 24, 126, 0.95);
  flex-direction: row;
  justify-content: center;
  padding: 0%;
  margin-bottom: 50px;
  position: relative;
  opacity: 0.92;
  border-radius: 62px;
  /* filter: blur(4px); */
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 10px rgb(39, 24, 126);
}

div.straight {
  visibility: hidden;
  width: 100%;
  height: 1px;
}

div.content > h3 {
  font-family: 'Montserrat', sans-serif;
  color: var(--theme-white);
  position: absolute;
  font-size: 1.5em;
}

div.layer {
  justify-content: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 7vh;
}

div.title-content {
  visibility: hidden;
  width: 100%;
  height: 1px;

}

button.next {
  width: 85px;
  height: 45px;
  margin: 5px;
  border-radius: 25px;
  border: none;
  position: absolute;
  right: 1.5vw;
  top: 1vw;
  transition: all 0.3s ease;
  background-color: var(--secondary-blue);
  color: var(--theme-white);
  box-shadow: 1px 5px 15px rgba(117, 139, 253, 0.5);
}



button.next:hover {
  background-color: var(--theme-orange);
  box-shadow: 1px 5px 15px rgba(255, 134, 0, 0.5);
}

.choice::-webkit-scrollbar {
    display: none;
}

div.choice {
  display: flex;
  position: absolute;
  top: 10%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90%;
  width: auto;
  height: 80%;
  overflow-y: scroll;

}

button.choice-button {
  width: 170px;
  height: 170px;
  border-radius: 15px;
  border: none;
  transition: all 0.5s ease;
  margin: 1.5%;
}

button.check {
  background-color: var(--theme-orange);
}

button.uncheck {
  background-color: var(--secondary-blue);
}

button.choice-button > img {
  width: auto;
  height: 35%;
}

button.choice-button > h3 {
  color: var(--theme-white);
}

button.choice-button:hover {
  box-shadow: 1px 5px 15px rgba(117, 139, 253, 0.7);
  background-color: var(--tertiary-blue);
}

button.choice-button:active {
  box-shadow: 1px 5px 15px rgba(255, 134, 0, 0.7);
  background-color: var(--theme-orange);
}


div.result {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90vw;
  margin: 0;
  align-items: center;
  justify-content: center;
}

div.wine-card {
  background-color: var(--theme-white);
  width: 313px;
  height: 336px;
  border-radius: 40px;
  display: flex;
  position: relative;
  justify-content: center;
  margin: 50px;
}

div.bottom-card {
  width: 100%;
  position: absolute;
  display: flex;
  bottom: 0;
  height: 27%;
  background: #F7F9F7;
  border-radius: 0px 0px 40px 40px;
  align-items: center;
}

div.bottom-card > h3 {
  position: absolute;
  padding-bottom: 30px;
  font-size: 35px;
  margin: 0;
  left: 18px;
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-blue);
}

div.bottom-card > h5 {
  position: absolute;
  padding-top: 30px;
  font-size: 20px;
  margin: 0;
  left: 20px;
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-blue);
}

div.top-card {
  width: 100%;
  position: absolute;
  top: 0;
  height: 73%;
  display: flex;
  position: relative;
  justify-content: center;
}

div.top-card > img{
  width: auto;
  height: 125%;
  position: absolute;
  bottom: 20px;
}

div.top-card > h5{
  position: absolute;
  bottom: 0;
  left: 20px;
  margin: 0;
  padding-bottom: 5px;
  font-size: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  color: var(--primary-blue);
  /* line-height: 24px; */
  letter-spacing: -0.05em; 
}

div.top-card > h3{
  position: absolute;
  top: 18%;
  right: -25px;
  margin: 0;
  font-family: 'Aguafina Script', sans-serif;
  font-weight: bold;
  font-size: 110px;
  letter-spacing: 0.1em;
  line-height: 178px;
  transform: rotate(-90deg);
  /* color: #F7F9F7; */
  color: var(--primary-blue);
  opacity: 4%;
}

img#star {
  width: auto;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 20px;
  top: 15px;
}

img#bouteille {
  position: absolute;
  width: auto;
  height: 40px;
  left: 30px;
  top: 50px;
}

h6.note {
  position: absolute;
  top: 18px;
  left: 55px;
  margin: 0;
  padding: 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 22px;
}

h6.nombre {
  position: absolute;
  top: 60px;
  left: 55px;
  margin: 0;
  padding: 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 22px;
}

/* nombre bouteilles
+cepage */

