@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('http://fonts.cdnfonts.com/css/sweet-child-script');

body{
  background-color: azure;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
}

h1 {
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    top: 50%;
}

i.close-icon {
  height: 100%;
  width: 100%;
}

i.success{
  background-color: green;
}

i.error{
  background-color: red;
}